.myInput {
  min-width: 100%;
  background-color: transparent;
  padding: 4px 3px;
  border: 2px solid grey;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Montserrat';
  color: grey;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
