.wrapper {
  padding: 10px;
  margin: 10px 0px;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoContainer {
  font-family: 'Montserrat';
  text-align: left;
  color: black;
}

.infoContainer_title {
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.infoContainer_infoAboutPosts {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}

.infoContainer_infoAboutCreatorPosts {
  font-size: 18px;
  font-weight: 400;
  color: grey;
  transition: all 0.2s linear;
}
.infoContainer_infoAboutCreatorPosts:hover {
  opacity: 0;
}
